.nav-bar{
    text-align:center;
}

.nav-icon-container{
    padding: 50px;
    display: inline-block;
}

.nav-icon{
    color: white;
    background-color: salmon;
    padding: 20px;
    border-radius: 50%;
    font-size: 1rem;
}