.nav-bar{
    text-align:center;
}

.nav-icon-container{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
}

.nav-icon{
    color: white;
    background-color: salmon;
    padding: 25px;
    border-radius: 50%;
    font-size: 1.2rem;
}